.container {
    margin: 50px auto;
    max-width: 800px;
}

img.imgvideo:hover {
    border-radius: 40px;
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    /* background: #e1e1e1; */
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

img.imgvideo {
    border-radius: 10px;
    
}